{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <div class="row" style="margin: 0 auto;">
    {% for eventtypes in eventtype %}
    <div class="card p-0 mt-5 mb-5" style="width: 35rem; margin: 0 auto;">
        <img src="{{eventtypes.image}}" class="card-img-top" alt="{{eventtypes.image}}">
        <div class="card-body">
        <p class="card-text">{{eventtypes.name}}</p>
        <p class="card-text">{{eventtypes.time|date()}}</p>
        <p class="card-text">{{eventtypes.description}}</p>
        <p class="card-text">{{eventtypes.capacity}}</p>
        <p class="card-text">Contact us:</p>
        <p class="card-text">{{eventtypes.email}}</p>
        <p class="card-text">{{eventtypes.phone}}</p>
        <p class="card-text">{{eventtypes.address}}</p>
        <p class="card-text"><a href="{{eventtypes.url}}">Website</a></p>
        </div>
    </div>
    {% endfor %}
    <div>
    <a class="btn btn-success btn-lg ms-5" href="/">Back to home</a>
    </div>
</div>
</div>
{% endblock %}